doctype html
html(lang="en")
	head
		meta(charset='utf-8')

		title HSL colors
		meta(name="viewport" content="width=device-width, initial-scale=1")

		base(href="")

		link(rel="stylesheet", href="dist/css/hsl.css")

	body
		header.hsl-header
		content.hsl-content
		footer.hsl-footer


