
$box-width: 80px;
$box-height: 50px;
$box-border: 1px solid #000;

body {
	text-align: center;
	font-size: 14px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 
		"San Francisco", "Segoe UI", Roboto, Ubuntu, 
		"Helvetica Neue", Arial, sans-serif;
}

div, b, p {
	box-sizing: border-box;
}

div.hue > div.saturation > div {
	display: inline-block;
	vertical-align: top;
	width: $box-width;
	& > b {
		display: block;
		height: $box-height;
		border: $box-border;
	}
	& > p {
		// removed from markup
		font-weight: bold;
		padding: 2px;
		color: #777;
		margin: 0;
	}
}

div.hue {
	padding: 100px 50px;
	border-bottom: 2px solid #777;
	&:nth-child(even) {
		background-color: #f7f7f7;
	}
	& > div.row.header {
		& > div.label {
			display: inline-block;
			width: $box-width;
			// margin: 2px 0px;
			margin: 0px;
			margin-right: -1px;
			& > b {
				display: block;
				font-size: 14px;
				font-weight: bold;
				padding: 10px 5px;
				border: $box-border;
			}
		}
	}
	& > div.row.saturation {
		// padding-top: 5px;
		margin-top: -1px;
		& > div.label {
			& > b {
				padding: 15px 10px;
				padding-right: 5px;
				text-align: left;
			}
		}
		& > div {
			// margin: 2px 0px;
			margin: 0px;
			margin-right: -1px;
		}
	}
}

@for $hue from 0 through 36 {
	$hue: $hue * 10;
	@for $saturation from 0 through 10 {
		$saturation: $saturation * 10;
		@for $lightness from 0 through 10 {
			$lightness: $lightness * 10;
			.hsl-#{$hue}-#{$saturation}-#{$lightness} {
				$rgb-color: hsl($hue, $saturation, $lightness);
				background: $rgb-color;
			}
		}
	}
}


